/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --max-width: 1600px;
}

iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

body {
  font-family: Inter, sans-serif;

  max-width: var(--max-width);
  margin: auto;
  --h-padding: 1.5rem;

  @media (width > 600px) {
    --h-padding: min(10vw, 10rem);
  }
}

.header {
  position: absolute;
  padding: 1.5rem var(--h-padding);

  color: #fff;
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}

.main-menu {
  ul {
    margin: 0;
    display: flex;
    gap: 69px;
    list-style: none;
    text-transform: uppercase;
  }
}

.main {
  section h2 {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 auto 2.5rem;

    @media (width > 600px) {
      margin: 2rem auto;
    }
  }
}

.hero {
  background-image:
    linear-gradient(#6b1b1b 5%, #ffffff00), url(../img/hero_2048_l.jpg);
  background-position: center;
  background-size: auto 488px;
  background-blend-mode: multiply;
  min-height: 488px;
  container-type: inline-size;
  padding: 10% var(--h-padding);
  display: flex;
  align-items: flex-end;

  @media (width > 600px) {
    background-position: top;
    background-size: cover;
    aspect-ratio: 1512 / 772;
    align-items: flex-start;
  }

  h1 {
    font-size: 15cqw;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    margin: 0;

    @media (width > 600px) {
      font-size: 10.6cqw;
    }
  }
}

.music {
  background-color: #f5ede3;
  padding: 2.5rem var(--h-padding);

  @media (width > 600px) {
  }
}

.album {
  margin-bottom: 3rem;

  @media (width > 1000px) {
    display: flex;
    align-items: center;
    gap: var(--h-padding);
  }

  h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    vertical-align: middle;

    @media (width < 1000px) {
      margin-top: 1rem;
    }
  }
}

.album-text-container {
}

.album-cover {
  max-width: 100%;
  width: 464px;
}

.album-blurb {
  margin-top: 0.2rem;
  line-height: 1;
}

.album-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.video {
}

.members {
}

.member {
}

.anders {
}

.caption {
}

.name {
}

.role {
}

.patrik {
}

.ric {
}

.david {
}

.martin {
}

.outro {
}

.outro-title {
}

.outro-blurb {
}

.footer {
}

.contact {
}
